<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Get your API key from http://zencoder.com/ -->
    <add key="ZencoderApiKey" value=""/>
  </appSettings>
</configuration>